@tailwind base;
@tailwind components;
@tailwind utilities;

 .clip-slant {
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
 }
.stroke-text {
  -webkit-text-stroke: 1px #22d3ee;
  color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}


@keyframes gradientFade {
  0% { opacity: 0.2; }
  50% { opacity: 0.4; }
  100% { opacity: 0.2; }
}

.animate-gradientFade {
  animation: gradientFade 3s infinite ease-in-out;
}
